@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: inter;
  font-weight: normal;
  background: white;
}


h1 {
  
  text-align: center;

  margin-top: 60px;
  font-size: 35px;
}

p {
  text-align: center;
  margin: 15px auto 0px auto;
  font-size: 16px;
  width: 80%;
}

.contact-form {
  margin: 35px auto 0px auto;
  width: 80%;
}

.contact-form label {
  font-size: 20px;
  display: inline-block;
  margin-bottom: 10px;
}

.contact-form input {
  padding: 12px 20px;
  outline: none;
  border: none;
  border-bottom: 2px solid #ccc;
  background: rgb(225,225,225);
  font-size: 18px;
  border-radius: 3px;
  margin-bottom: 20px;
  width: 100%;
}

.contact-form input:focus {
  border-bottom: 2px solid #1a883f;
}

.contact-form textarea {
  padding: 12px 20px;
  outline: none;
  border: none;
  border-bottom: 2px solid #ccc;
  background: rgb(225,225,225);
  font-size: 18px;
  border-radius: 3px;
  width: 100%;
  font-family: inter;
  font-weight: normal;
}

.contact-form textarea:focus {
  border-bottom: 2px solid #1a883f;
}

.contact-form button {
  font-size: 19px;
  width: 100%;
  margin-top: 25px;
  border: none;
  padding: 12px 20px;
  background-color: #22b352;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  border-bottom: 3px solid #1a883f;
}

.contact-form button:hover {
  background-color: #1a883f;
  border-bottom: 3px solid #22b352;
}

/*------------------footer----------------*/

.footer{
  margin-top: 25px;
  background: #000;
  color: #8a8a8a;
  font-size: 16px;
  padding: 60px 0 20px;
  
  }
  .footer p{
      color:#8a8a8a;
  }
  .footer h3{
      color: #fff;
      margin-bottom: 20px;
  }
  .footer-col-1,.footer-col-2,.footer-col-3,.footer-col-4{
      min-width: 250px;
      margin-bottom: 10px;
  
  }
  .footer-col-1{
      flex-basis: 30%;
      
  }
  .footer-col-2{
      flex:1;
      text-align: center;
  }
  .footer-col-2 img{
      width: 180px;
      margin-bottom: 20px;
  }
  .footer-col-3,.footer-col-4{
      flex-basis: 12%;
      text-align:center;
  
  }
  .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
  ul{
      list-style-type: none;
  }
  .footer hr{
      border: none;
      background: #b5b5b5;
      height: 1px;
      margin: 20px 0; 
  }
  .Copyright{
      text-align: center;
  }
  .menu-icon{
      width: 28px;
      margin-left: 20px;
  
  }

@media all and (min-width: 1000px) {
  .contact-form {
    width: 40%;
  }
}

@media all and (min-width: 1080px) {
  .contact-form {
    width: 30%;
  }
}
